<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>グループに参加</title>
    <link rel="stylesheet" href="/add-group/style.css" />
  </head>
  <body>
    <div class="container">
      <div id="loader" class="loader"></div>
      <span class="title">かけいぼっと</span>
      <div class="block">
        <div class="block-margin">
          <span class="block-title">家計簿グループに所属しました！</span>
          <div class="block-body">
            グループ名：<span id='group-name' class="group-name"></span>
          </div>
          <span class="block-footer">このウィンドウは閉じて問題ありません。<br/>LINE に戻って家計簿をつけましょう！</span>
        </div>
      </div>
      <div class="button-container">
        <button id="close-button" class="close-button">閉じる</button>
      </div>
    </div>
    <script src="/add-group/script.js"></script>
  </body>
</html>
