.container {
  width: 100%;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: baseline;

  & .labelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }

  & .current {
    font-size: 23px;
  }

  & .range {
    font-size: 10px;
    font-weight: normal;
    color: #999;
    white-space: nowrap;
  }

  & span:not(.current):not(.range) {
    cursor: pointer;
  }
}
