.container {
  width: 100%;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: baseline;

  & .current {
    font-size: 23px;
  }

  & span:not(.current) {
    cursor: pointer;
  }
}
