<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <script>
      window.onload = function(e) {
        const clientId = <%- clientId %>;
        const redirectUri = encodeURIComponent('https://line-kakeibot.appspot.com/add-group/?groupId=<%- groupId %>');
        const state = '12345abcdef';
        location.href = `https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id=${clientId}&redirect_uri=${redirectUri}&state=${state}&scope=profile`;
      };
    </script>
  </body>
</html>
