body {
  background-color: white;
  color: #444444;
  margin: 0px;
  display: flex;
  font-family: 'ヒラギノ角ゴ ProN', sans-serif;
}

.loader {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url(images/loader.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  background-color: white;
  z-index: 10;
  transition: opacity 200ms ease-out;
  opacity: 1;
}

.loader.transparent {
  opacity: 0;
}
.loader.hide {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  padding-bottom: 7px;
}

.groups-container {
  padding-top: 8px;
  width: 100%;
}

.groups {
  overflow-x: scroll;
  margin: 0px 10px;
  padding-bottom: 5px;
}

.groups .no-data {
  font-weight: bold;
  opacity: 0.3;
  margin-right: 7px;
  font-size: 24px;
}
.groups .group-name {
  font-weight: bold;
  opacity: 0.3;
  margin-right: 7px;
  font-size: 24px;
}

.groups .group-name:last-child {
  margin-right: 0px;
}

.groups .group-name.selected {
  opacity: 1;
}

.month-container {
  width: 100%;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.month-container .current {
  font-size: 23px;
}

.users-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: white;
  background-color: #00b900;
  margin: 3vw 0px;
  padding: 10px 0px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  width: calc(100% - 12vw);
}

.users-container .no-data {
  display: flex;
  justify-content: space-between;
  margin: 3px 15px;
}
.users-container .user {
  display: flex;
  justify-content: space-between;
  margin: 3px 15px;
}

.users-container .user .name {
  font-weight: bold;
}
.users-container .user .price {
  font-size: smaller;
  font-size: larger;
  font-weight: bold;
}

.users-container .user .price::after {
  content: '円';
}

.details-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #444444;
  margin: 3vw 0px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  width: calc(100% - 12vw);
}

.details-container .details-label {
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}

.details-container .details-table {
  padding-bottom: 8px;
}

.details-container .details-table .no-data {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.detail {
  display: flex;
  padding-left: 12px;
  align-items: center;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: background-color 200ms cubic-bezier(0, 0, 0, 1), border 200ms cubic-bezier(0, 0, 0, 1);
}

.detail.selected {
  background-color: rgba(0, 185, 0, 0.2);
  border-top: 2px solid #00b900;
  border-bottom: 2px solid #00b900;
  box-sizing: border-box;
}

.detail .detail-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image-container {
  height: 22px;
  width: 22px;
  margin-right: 6px;
  flex-shrink: 0;
  border: 1px solid #444444;
  border-radius: 2px;
  background-image: url(images/loader.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
}

.image-container .receipt-image {
  width: 100%;
  height: 100%;
  opacity: 1;
  flex-shrink: 0;
  object-fit: cover;
}

.detail img {
  height: 22px;
  opacity: 0.5;
  flex-shrink: 0;
  margin-right: 6px;
}

.detail img.hide {
  visibility: hidden;
}

.detail .top {
  display: flex;
  justify-content: space-between;
}

.detail .top span:last-child::after {
  content: '円';
}

.detail .bottom {
  margin: 0px 15px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.detail .bottom span {
  font-size: 11px;
  opacity: 0.7;
  line-height: 8px;
}

.menu-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  transition: opacity 200ms ease-out;
  opacity: 1;
}

.menu-container.transparent {
  opacity: 0;
}
.menu-container.hide {
  display: none;
}

.menu-list-container {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.menu-item {
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  width: 50%;
  text-align: center;
  font-weight: bold;
  animation: menu-item-show 200ms cubic-bezier(0, 0, 0, 1);
}

.menu-item.delete {
  background-color: #ff842d;
  color: white;
}

.menu-item.cancel {
  background: none;
  box-shadow: none;
  opacity: 0.5;
}

@keyframes menu-item-show {
  0% {
    margin-bottom: 0px;
  }
  100% {
    margin-bottom: 10px;
  }
}

.delete-confirm-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.delete-confirm-container.hide {
  display: none;
}

.delete-confirm {
  background-color: white;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  animation: delete-confirm-show 200ms cubic-bezier(0, 0, 0, 1);
}

.delete-answers {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  margin-top: 6px;
}

.delete-answers .delete-button {
}

.delete-button.yes {
  color: #ff842d;
  font-size: 24px;
}

.delete-button.cancel {
  opacity: 0.5;
}

@keyframes delete-confirm-show {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
